numpy
jupyter
six
opencv-python
matplotlib
pandas
pillow
scipy
setuptools

coremltools

tensorflow
keras
keras2onnx

scikit-learn
skl2onnx

tf2onnx

torchvision
torch

xgboost

svm

glibc
lightgbm

# cntk

h5py
mxnet

onnx
onnxmltools
onnxruntime

# Dot/Graphviz
graphviz
